body {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.4rem;
  margin: 0;
  padding: 10px 5px;
}

h2 {
  font-size: 1rem;
  margin: 0;
}

p {
  margin: 15px 0 5px 0;
}

button {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #58a0e2;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
  font-size: 1rem;
  font-weight: 600;
  margin: 15px 0;
  outline: none;
  padding: 15px 0;
  width: 35%;
}

button:hover {
  background: #58a0e2;
  color: #ffffff;
}

span {
  font-size: 0.8rem;
}

a {
  color: #58a0e2;
}

/* classes  */

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background: #e6e6e6;
  padding-left: 1.2rem;
  position: relative;
  width: 25%;
}

.searchbar {
  border: none;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.05));
  padding: 7px 5px;
  width: 80%;
}

.searchOptions {
  display: flex;
  flex-direction: column;
  margin: 0;
}

h4 {
  font-weight: 600;
  margin: 10px 0;
}

.searchOptions .checkbox {
  justify-content: space-around;
  width: 50%;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  padding-bottom: 25px;
  bottom: 0;
  left: 0;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  justify-content: center;
  margin-top: 80px;
  width: 85%;
}

.movieCard {
  background: #e6e6e6;
  border-radius: 10px;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0em;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  height: 140px;
  margin: 7px 7px;
  padding-left: 15px;
  padding-top: 15px;
  width: 16%;
}

.location {
  font-size: 0.8rem;
  font-weight: 100;
}

/* TABLET MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 1.2rem;
  }
  button {
    position: relative;
    padding: 10px 0;
    margin: 20px;
    width: 75px;
    font-size: 0.8rem;

    /* Rotates the buttons to display properly */
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  .sidebar {
    width: 35%;
  }
  .movieCard {
    width: 40%;
  }
}

/* MOBILE MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }
  .sidebar {
    width: 100%;
  }
  .searchOptions {
    display: inline-block;
    width: 40%;
    padding-bottom: 10px;
  }
  .searchOptions label {
    font-size: 0.7rem;
  }
  .btnContainer {
    margin-top: 15px;
    display: flex;
    left: 40%;
    width: 220px;
  }
  button {
    position: relative;
    padding: 10px 0;
    margin: 20px;
    width: 75px;
    font-size: 0.8rem;
  }
  .cardContainer {
    width: 100%;
  }
  .movieCard {
    text-align: center;
    width: 80%;
  }
}
