<template name="HomeLayout">
    <div class="homePage">
        <div class="overlay">
        </div>
        <img src="https://images.pexels.com/photos/3156867/pexels-photo-3156867.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="ggBridge"/>
        <p>project by <span>Justin Andrade</span></p>
    <header>
        <h1>Films in San Franisco</h1>
        <p>If you love movies, and you love San Francisco, you're bound to love this -- a listing of filming locations of movies shot in San Francisco starting from 1915. You'll find the titles, locations, and years for most of these films.</p>
        <a href="/search">
            <button class="callToAction">Let's get started</button>
        </a>
        </header>
    </div>
</template>